<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>报名成功</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-datetimepicker.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-select.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrapValidator.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-switch.min.css' />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body{
        padding: 0;
        font-family: '微软雅黑';;
      }
      p{
        margin-top: 10px;
        font-size: 20px;
        color:red;
      }
      .head{
        font-size:26px;
        background-color: #F0F8FF;
        /*border: 1px solid #ddd;*/
        margin:5px 0;
        height: 50px;
        padding: 5px 0 0 0;

      }
      .part{
        background-color: #F0F8FF;
        border: 1px solid #ddd;
        margin:5px 0px;
        line-height: 150px;
      }
      .part:hover{
        background-color: #EEEEE0;
      }
      @media (min-width: 1170px) {
        .user{
          height: 70px;
          background-color: #F0F8FF;
          line-height: 70px;
          vertical-align: bottom;
          padding-top: 13px;
        }
      }
      .user{
        background-color: #F0F8FF;
        vertical-align: bottom;
      }
      hr{
        margin: 5px 5px;
        color: #EECFA1;
        border: 1px solid;
      }
      .footer{
        text-align: center;
      }
      a{
        font-size: 18px;
      }
      a:hover{
        font-size: 20px;
        text-decoration:none
      }
      .uniform{
        padding: 15px 15px;
      }
      #ui-datepicker-div{
        display: none;
      }
      .bootstrap-select > .dropdown-toggle{
        width: auto;
      }
      .dropdown-menu > .open{
        width: auto;
      }
      .bootstrap-select.btn-group .dropdown-menu{
        min-width: 10%;
      }
      .to{
        text-align: center;
        font-size: medium;
        line-height: 34px;
      }
      #code{
        min-height: 300px;
        text-align: center;
        margin : 10px 0;
      }
      @media (max-width: 768px) {
        .btn_ {
          margin:5px 0;
        }
        .meeting_date{
          text-align: left;
          margin-left: -15px;
          min-height: 26px;
        }
        .meeting_info{
          min-height: 26px;
        }
        .dynamic_code{
          margin-left: -15px;
          line-height: 32px;
        }
        .uniform{
          padding: 0 15px;
        }
      }
      @media (min-width: 768px) {
        .meeting_date{
          text-align: right;
        }
        .dynamic_code{
          text-align: right;
          line-height: 32px;
        }
        .meeting_info{
          line-height: 34px;
        }
      }
      .note{

        background-color: #F0F8FF;
      }
      .description{

      }
      .bootstrap-select > .dropdown-toggle {
        width: 100%;
      }
     /* @media (max-width: 768px) {
        .glyphicon ,.glyphicon-ok{
          color:#7CCD7C;
          font-size:210px;
          display: block;
          text-align: center;
        }
      }
      @media (min-width: 768px) {
        .glyphicon, .glyphicon-ok{
          color:#7CCD7C;
          font-size:325px;
          display: block;
          text-align: center;
        }
      }*/
      .glyphicon-ok{
        color:#7CCD7C;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <img src="/images/szucsselogo.png" class="img-responsive" alt="">  
        </div>
      </div>
          
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p style="text-align: center;">报名成功！<span class="glyphicon glyphicon-ok"  ></span></p>
        </div>
      </div>

     <!--  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="glyphicon glyphicon-ok"  ></span>
        </div>
      </div> -->

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <p style="text-align: center;">会议信息如下</span></p>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <span class="glyphicon glyphicon-ok"></span>
        </div>
      </div> -->

      <div class="row uniform">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="meeting_name" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议名称</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <input type="text" class="form-control" id="meeting_name" name="meeting_name" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label for="meeting_place" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议地点</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <input type="text" class="form-control" id="meeting_place" name="meeting_place" readonly="readonly">
            </div>
          </div>
          
          <div class="form-group" style="height: 0;overflow: hidden;">
            <label for="randomStr" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议编号</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="meeting_date_time">
              <input type="text" class="form-control" id="randomStr" name="randomStr" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label for="meeting_date" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议时间</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="meeting_date_time">
              <input type="text" class="form-control" id="meeting_date" name="meeting_date" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label for="meeting_des" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议详情</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="">
              <textarea class="form-control" rows="3" id="meeting_des"  name="meeting_des" readonly="readonly"></textarea>
              <!-- <input type="text" class="form-control" id="meeting_des" name="meeting_des" readonly="readonly"> -->
            </div>
          </div>

          <div class="form-group">
            <label for="meeting_type" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议类型</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <input type="text" class="form-control" id="meeting_type" name="meeting_type" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label for="meeting_nianji" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">年级</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <input type="text" class="form-control" id="meeting_nianji" name="meeting_nianji" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label for="people_no" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">校园卡号</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="people_noo">
              <input type="text" class="form-control" id="people_no" name="people_no" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">姓名</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="people_noo">
              <input type="text" class="form-control" id="name" name="name" readonly="readonly">
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">提示</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="people_noo">
              <span style="color: red">请于规定时间准时参加会议。</span>
            </div>
          </div>

      <div class="row">
        <hr>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
          <span>2017 © 计算机与软件学院</span>
        </div>
      </div>
    </div>

    <!-- 模态框 -->
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade modal-msg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="data-modal">
    <div class="modal-dialog modal-md modal-xs" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">报名结果</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success sure" data-dismiss="modal" id="result-sure">确定</button>
        </div>
      </div>
    </div>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='/javascripts/moment-with-locales.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap-datetimepicker.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap-select.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrapValidator.min.js' ></script>
    <script type="text/javascript" src='/javascripts/jquery.qrcode.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap-switch.min.js' ></script>
    <script type="text/javascript">
    function br2nl(txt){
        var re=/(<br\s\/>|<br>|<BR>|<BR\/>)/g;
        var s=txt.replace(re,"\n");
        return s;                                  
    }
    // $.fn.bootstrapSwitch.defaults.size = 'small';
    // $.fn.bootstrapSwitch.defaults.onColor = 'success';
    // jQuery.browser={};(function(){jQuery.browser.msie=false; 
    // jQuery.browser.version=0;if(navigator.userAgent.match(/MSIE ([0-9]+)./)){ jQuery.browser.msie=true;jQuery.browser.version=RegExp.$1;}})();
       $(function() {
        'use strict';
         //后台传递数据对form表单赋值
        let temp_result = '<%- JSON.stringify(result) %>'
        temp_result = temp_result.replace(/\n/g,'<br />')
            temp_result = JSON.parse(temp_result);
        console.log(temp_result)
        $('#meeting_name').val(temp_result.meeting_name)
        $('#meeting_place').val(temp_result.meeting_place)
        $('#randomStr').val(temp_result.randomStr)
        let date = temp_result.meeting_date + ' ' + moment(temp_result.meeting_date,'YYYY-MM-DD').format('dddd') + ' ' + temp_result.meeting_time
        $('#meeting_date').val(date)
         if(temp_result.meeting_type == '0'){
            $('#meeting_type').val('非年级会议')
            $('#meeting_nianji').val('暂无')
          }
          else{
            $('#meeting_type').val('年级会议')
          $('#meeting_nianji').val(temp_result.meeting_nianji)
          }
        $('#meeting_des').val(br2nl((temp_result.meeting_des)))
        $('#people_no').val('<%- xiaoyuankahao %>')
        $('#name').val('<%- name %>')
    
      })

    </script>
  </body>
</html>