<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>会议签到详情</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-select.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrapValidator.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-switch.min.css' />
    <link rel="stylesheet" href="/stylesheets/bootstrap-table.min.css" >
    <link rel='stylesheet' href='/stylesheets/bootstrap-datetimepicker.css' />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body{
        padding: 0;
        font-family: '微软雅黑';;
      }
      .head{
        color: #00B7FF;
        font-size:26px;
        background-color: #F0F8FF;
        /*border: 1px solid #ddd;*/
        margin:5px 0;
        height: 50px;
        padding: 5px 0 0 0;

      }
      .part{
        background-color: #F0F8FF;
        border: 1px solid #ddd;
        margin:5px 0px;
        line-height: 150px;
      }
      .part:hover{
        background-color: #EEEEE0;
      }
      @media (min-width: 1170px) {
        .user{
          height: 70px;
          line-height: 70px;
          vertical-align: bottom;
          padding-top: 13px;
        }
      }
      .user{
        vertical-align: bottom;
      }
      hr{
        margin: 5px 5px;
        color: #EECFA1;
        border: 1px solid;
      }
      .footer{
        text-align: center;
      }
      /*a{
        font-size: 18px;
      }
      a:hover{
        font-size: 20px;
        text-decoration:none
      }*/
      .uniform{
        padding: 15px 15px;
      }
      #ui-datepicker-div{
        display: none;
      }
      .bootstrap-select > .dropdown-toggle{
        width: auto;
      }
      .dropdown-menu > .open{
        width: auto;
      }
      .bootstrap-select.btn-group .dropdown-menu{
        min-width: 10%;
      }
      .to{
        text-align: center;
        font-size: medium;
        line-height: 34px;
      }
      #code{
        min-height: 300px;
        text-align: center;
        margin : 10px 0;
      }
      @media (max-width: 768px) {
        .searchBtn{
          padding-top: 5px;
        }
        .meeting_date{
          text-align: left;
          margin-left: -15px;
          min-height: 26px;
        }
        .meeting_info{
          min-height: 26px;
        }
        .dynamic_code{
          margin-left: -15px;
          line-height: 32px;
        }
        .uniform{
          padding: 0 15px;
        }
      }
      @media (min-width: 768px) {
        .meeting_date{
          text-align: right;
        }
        .dynamic_code{
          text-align: right;
          line-height: 32px;
        }
        .meeting_info{
          line-height: 34px;
        }
      }
      .note{

        background-color: #F0F8FF;
      }
      .note_1{
        margin-top: 10px;
      }
      .description{

      }
      .cancelPadding{
        padding : 0 0;
      }
      th,td{
        text-align: center;
      }
      th{
        background-color: rgb(222,243,222);
      }
      .fixed-table-container {
        height: auto !important;
        padding-bottom: 0 !important;
      }


    </style>
  </head>
  <body>
    <div class="container-fluid cancelPadding">
      <div class="row-fluid">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <img src="../images/szucsselogo.png" class="img-responsive" alt="">  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 user">
          <span class="pull-right user"> <a href="/front/overview">首页</a> | 当前用户:<span style="color: red"> <%=user.name%></span>  | <a href="/front/logout">退出</a>
        </div>
      </div>

      <div class="row-fluid cancelPadding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <p class="text-center head"> 会议签到详情</p>
          <p class="pull-right"><a href='/front/weiqiandao?r=<%=randomStr%>' >未签到名单</a> <a href='/front/downloadqiandao?r=<%=randomStr%>' target="_self">下载签到记录</a></p>
        </div>
      </div>

      <div class="row-fluid cancelPadding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <div class="panel-body table-body cancelPadding" >
                    <table id="tb_departments"></table>
          </div>
        </div>
      </div>

      <div class="row-fluid cancelPadding">
        <hr>
      </div>

      <div class="row-fluid cancelPadding">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
          <span>2017 © 计算机与软件学院</span>
        </div>
      </div>

    </div>
    

    <!-- 模态框 -->
    <!-- Button trigger modal -->
    <!-- Modal -->

  <div class="modal fade alert-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="alert-modal">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">提示</h4>
        </div>
        <div class="modal-body">
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default sure" data-dismiss="modal" id="alert-btn">确定</button>
        </div>
      </div>
    </div>
  </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='/javascripts/moment-with-locales.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap-datetimepicker.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap-datetimepicker.zh-CN.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap-select.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrapValidator.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap-switch.min.js' ></script>
    <script type="text/javascript" src='/javascripts/jquery.poptrox.min.js' ></script>
    <script type="text/javascript" src="/javascripts/bootstrap-table.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript">
    var dongtai
    $.fn.bootstrapSwitch.defaults.size = 'small';
    $.fn.bootstrapSwitch.defaults.onColor = 'success';
    jQuery.browser={};(function(){jQuery.browser.msie=false; 
    jQuery.browser.version=0;if(navigator.userAgent.match(/MSIE ([0-9]+)./)){ jQuery.browser.msie=true;jQuery.browser.version=RegExp.$1;}})();
       $(function() {

        //清楚缓存
        $(".alert-modal").on("hidden.bs.modal", function() {
              console.log('---- here ----')
            //$(this).removeData("bs.modal");
            $(".modal-body").children().remove();  
            console.log('----- clear modal window -----')
            //$(".modal-body").remove()
            //console.log('----- clear again -----')
        });

        //1.初始化Table
        var oTable = new TableInit();
        oTable.Init();

        //2.初始化Button的点击事件
        var oButtonInit = new ButtonInit();
        oButtonInit.Init();

       })//页面load完执行

        var TableInit = function () {
            var oTableInit = new Object();
            //初始化Table
            oTableInit.Init = function () {
                $('#tb_departments').bootstrapTable({             
                    url: '/front/qiandaoDetail_API',         //请求后台的URL（*）
                    method: 'get',                      //请求方式（*）
                    //toolbar: '#toolbar',                //工具按钮用哪个容器
                    striped: false,                      //是否显示行间隔色
                    cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                    pagination: true,                   //是否显示分页（*）
                    sortable: false,                     //是否启用排序
                    sortOrder: "asc",                   //排序方式
                    queryParams: oTableInit.queryParams,//传递参数（*）
                    sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                    pageNumber:1,                       //初始化加载第一页，默认第一页
                    pageSize: 20,                       //每页的记录行数（*）
                    pageList: [20,30,50],                 //可供选择的每页的行数（*）
                    search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                    strictSearch: false,
                    showColumns: false,                  //是否显示所有的列
                    showRefresh: false,                  //是否显示刷新按钮
                    minimumCountColumns: 2,             //最少允许的列数
                    clickToSelect: false,                //是否启用点击选中行
                    height: 500,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                    uniqueId: "ID",                     //每一行的唯一标识，一般为主键列
                    showToggle:false,                    //是否显示详细视图和列表视图的切换按钮
                    cardView: false,                    //是否显示详细视图
                    detailView: false,                   //是否显示父子表
                    columns: [{
                        field: 'xuhao',
                        title: '序号',
                        formatter: function (value, row, index) {
                            return index+1;
                        }
                    },{
                        field: 'name',
                        title: '姓名'
                    }, {
                        field: 'gonghao',
                        title: '学号'
                    },{
                        field: 'xiaoyuankahao',
                        title: '校园卡号'
                    },{
                        field: 'meeting_nianji',
                        title: '年级'
                    }, {
                        field: 'meeting_name',
                        title: '会议名称'
                    },{
                        field: 'meeting_type',
                        title: '会议类型'
                    },{
                        field: 'meeting_date',
                        title: '会议日期'
                    },{
                        field: 'insert_time',
                        title: '签到时间'
                    },{
                        title: '操作',
                        field: 'xiaoyuankahao',
                        align: 'center',
                        formatter:function(value,row,index){  
                          console.log('value -- >',value)
                          console.log('row -- >',row)
                          console.log('index -- >',index)
                             var e = '<a href="/front/studentStatic?xiaoyuankahao='+row.xiaoyuankahao+'">该生签到统计 </a> ';  
                             var d = '<a href="/front/chaxunstutable?xiaoyuankahao='+row.xiaoyuankahao+'"> 该生签到详情</a> '
                          return e + d;  
                      } 
                    }]
                })
            }

            //得到查询的参数
            oTableInit.queryParams = function (params) {
                var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                    limit: params.limit,   //页面大小
                    offset: params.offset,  //页码
                    search : $('.form-control').val()
                    /*departmentname: $("#txt_search_departmentname").val(),
                    statu: $("#txt_search_statu").val()*/
                    //begin_date : $('#b_time').val(),
                    //end_date : $('#e_time').val(),
                    //meeting_type : $('#meeting_type').val()
                };
                console.log('查询参数-->',temp)
                return temp;
            };
            return oTableInit;
        };

        var ButtonInit = function () {
            var oInit = new Object();
            var postdata = {};
            oInit.Init = function () {
                //初始化页面上面的按钮事件
            };
            return oInit;
        };
    </script>
  </body>
</html>