<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>手工签到</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-datetimepicker.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-select.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrapValidator.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-switch.min.css' />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
      body{
        padding: 0;
        font-family: '微软雅黑';;
      }
      .head{
        color: #00B7FF;
        font-size:26px;
        background-color: #F0F8FF;
        /*border: 1px solid #ddd;*/
        margin:5px 0;
        height: 50px;
        padding: 5px 0 0 0;

      }
      .part{
        background-color: #F0F8FF;
        border: 1px solid #ddd;
        margin:5px 0px;
        line-height: 150px;
      }
      .part:hover{
        background-color: #EEEEE0;
      }
      @media (min-width: 1170px) {
        .user{
          height: 70px;
          line-height: 70px;
          vertical-align: bottom;
          padding-top: 13px;
        }
      }
      .user{
        vertical-align: bottom;
      }
      hr{
        margin: 5px 5px;
        color: #EECFA1;
        border: 1px solid;
      }
      .footer{
        text-align: center;
      }
      a{
        font-size: 18px;
      }
      a:hover{
        font-size: 20px;
        text-decoration:none
      }
      .uniform{
        padding: 15px 15px;
      }
      #ui-datepicker-div{
        display: none;
      }
      .bootstrap-select > .dropdown-toggle{
        width: auto;
      }
      .dropdown-menu > .open{
        width: auto;
      }
      .bootstrap-select.btn-group .dropdown-menu{
        min-width: 10%;
      }
      .to{
        text-align: center;
        font-size: medium;
        line-height: 34px;
      }
      #code{
        min-height: 300px;
        text-align: center;
        margin : 10px 0;
      }
      @media (max-width: 768px) {
        .btn_ {
          margin:5px 0;
        }
        .meeting_date{
          text-align: left;
          margin-left: -15px;
          min-height: 26px;
        }
        .meeting_info{
          min-height: 26px;
        }
        .dynamic_code{
          margin-left: -15px;
          line-height: 32px;
        }
        .uniform{
          padding: 0 15px;
        }
      }
      @media (min-width: 768px) {
        .meeting_date{
          text-align: right;
        }
        .dynamic_code{
          text-align: right;
          line-height: 32px;
        }
        .meeting_info{
          line-height: 34px;
        }
      }
      .note{

        background-color: #F0F8FF;
      }
      .description{

      }
      .bootstrap-select > .dropdown-toggle {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
          <img src="../images/szucsselogo.png" class="img-responsive" alt="">  
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 user">
          <span class="pull-right user"><a href="/front/overview">首页</a> | 当前用户:<span style="color: red"> <%=user.name%></span>  | <a href="/front/logout">退出</a></span>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <p class="text-center head"><span class="glyphicon glyphicon-pencil"></span> 手工签到</p>
        </div>
      </div>

      <div class="row uniform">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="meeting_name" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">请选择会议</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <select id="meeting_name" class="selectpicker" data-hide-disabled="true" data-live-search="false" name="meeting_name">
                  <option>select</option>
                  <% for(let i=0;i<result.length;i++) { %>
                    <option><%=result[i].meeting_name%></option>
                  <% } %>
              </select>
            </div>
          </div>
  
          <div class="form-group" style="height: 0;overflow: hidden;">
            <label for="randomStr" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议编号</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
              <select id="randomStr" class="selectpicker" data-hide-disabled="true" data-live-search="false">
                <option>select</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="meeting_date" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议时间</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="meeting_date_time">
              暂无
            </div>
          </div>

          <div class="form-group">
            <label for="meeting_place" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议地点</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="meeting_place">
              暂无
            </div>
          </div>

          <div class="form-group">
            <label for="meeting_des" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议详情</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="meeting_des">
              暂无
            </div>
          </div>

           <div class="form-group">
            <label for="meeting_type" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">会议类型</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="meeting_type">
              暂无
            </div>
          </div>

          <div class="form-group">
            <label for="meeting_nianji" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">年级</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="meeting_nianji">
              暂无
            </div>
          </div>

          <div class="form-group">
            <label for="people_no" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 control-label">校园卡号</label>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 meeting_info" id="people_noo">
              <input type="text" class="form-control" id="people_no" placeholder="请输入学号或工号" name="people_no">
            </div>
          </div>
          
          <div class="form-group">
            <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5  col-lg-5 col-md-5 col-sm-5 col-xs-5 ">
              <button type="submit" class="btn btn-success" id="now-submit">确认</button>
            </div>
          </div>

        </form>
      </div>

      <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <span class="note">备注：此处只显示最近一周将举行的会议</span>
        </div>
      </div>

      <div class="row">
        <hr>
      </div>

      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer">
          <span>2017 © 计算机与软件学院</span>
        </div>
      </div>
    </div>

    <!-- 模态框 -->
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade modal-msg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="data-modal">
    <div class="modal-dialog modal-md modal-xs" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">手工签到结果</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success sure" data-dismiss="modal" id="result-sure">确定</button>
        </div>
      </div>
    </div>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='/javascripts/moment-with-locales.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap-datetimepicker.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap-select.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrapValidator.min.js' ></script>
    <script type="text/javascript" src='/javascripts/jquery.qrcode.min.js' ></script>
    <script type="text/javascript" src='/javascripts/bootstrap-switch.min.js' ></script>
    <script type="text/javascript">
     function br2nl(txt){
        var re=/(<br\s\/>|<br>|<BR>|<BR\/>)/g;
        var s=txt.replace(re,"\n");
        return s;                                  
    }
    var dongtai
    $.fn.bootstrapSwitch.defaults.size = 'small';
    $.fn.bootstrapSwitch.defaults.onColor = 'success';
    jQuery.browser={};(function(){jQuery.browser.msie=false; 
    jQuery.browser.version=0;if(navigator.userAgent.match(/MSIE ([0-9]+)./)){ jQuery.browser.msie=true;jQuery.browser.version=RegExp.$1;}})();
       $(function() {
        'use strict';
        //时间选择限制
        $('#meeting_name').change(function(){

          let temp_meetingName = $('#meeting_name option:selected').val()
          console.log('当前选择会议名-->',temp_meetingName)
          let temp_result = '<%- JSON.stringify(result) %>' //字符串
              temp_result = temp_result.replace(/\n/g,'<br />')
              temp_result = JSON.parse(temp_result);
          console.log('一周内会议信息-->',temp_result)

          $("#randomStr option").remove()
          $("#meeting_date_time").empty()
          $("#meeting_des").empty()
          $("#meeting_type").empty()
          $("#meeting_nianji").empty()
          $("#meeting_place").empty()

          for(let i=0; i<temp_result.length; i++){
            if(temp_meetingName == temp_result[i].meeting_name){
              console.log('----- 找到该会议 -----')
              console.log('该会议随机码-->',temp_result[i].randomStr)
              console.log('日期-->',temp_result[i].meeting_date,temp_result[i].meeting_time)
              console.log('描述-->',temp_result[i].meeting_des)
              $("#randomStr").append("<option>"+temp_result[i].randomStr+"</option>");
              $("#meeting_date_time").append("<p>"+temp_result[i].meeting_date + '  ' + temp_result[i].zhouji + '  ' +temp_result[i].meeting_time+"</p>");
              $("#meeting_des").append("<p style='word-break:break-all;'>"+temp_result[i].meeting_des + "</p>");
              $("#meeting_place").append("<p>"+temp_result[i].meeting_place + "</p>");
              if(temp_result[i].meeting_type == '0'){
                $("#meeting_type").append("<p>"+'非年级会议' + "</p>");
                 $("#meeting_nianji").append("<p>"+'暂无' + "</p>");
              }else{
                $("#meeting_type").append("<p>"+'年级会议' + "</p>");
                $("#meeting_nianji").append("<p>"+temp_result[i].meeting_nianji + "</p>");
              }
            }
          }
          if(temp_meetingName == 'select'){
              $("#meeting_date_time").append("<p>"+'暂无信息'+"</p>");
              $("#meeting_des").append("<p>"+'暂无信息' + "</p>");
              $("#meeting_place").append("<p>"+'暂无信息' + "</p>");
              $("#meeting_type").append("<p>"+'暂无信息' + "</p>");
              $("#meeting_nianji").append("<p>"+'暂无信息' + "</p>");
              $('#code').empty()
          }
          $("#randomStr").selectpicker("refresh")
       })//change

        //表单验证
          $('form').bootstrapValidator({
  　　　　　　　message: 'This value is not valid',
                excluded : [':disabled'],//[':disabled', ':hidden', ':not(:visible)']
                submitButtons: 'button[type="submit"]',
                submitHandler: null,
              　feedbackIcons: {
                  　　　　　　　　valid: 'glyphicon glyphicon-ok',
                  　　　　　　　　invalid: 'glyphicon glyphicon-remove',
                  　　　　　　　　validating: 'glyphicon glyphicon-refresh'
              　　　　　　　　   },
                fields: {//(?!.*select)^.*$
                    people_no: {
                        message: '学号或工号验证失败',
                        validators: {
                            notEmpty: {
                                message: '校园卡号不能为空!'
                            },
                            regexp: {
                               regexp: /^\d{6}$/,
                               message: '请输入6位校园卡号'
                           }
                                  //^\d{n}$
                        }
                    },
                    meeting_name:{
                      message: '请选择会议',
                      validators:{
                        regexp:{
                          regexp:/(?!.*select)^.*$/,
                          message:'请选择会议'
                        }
                      }
                    }
                }
          }).on('success.form.bv', function(e) {
            //return false
            console.log(e)
            e.preventDefault();
            let meeting_name = $('#meeting_name').val(),
                meeting_des = $('#meeting_des').text(),
                meeting_date = $('#meeting_date_time').text(),
                randomStr = $('#randomStr option:selected').val(),
                people_no = $('#people_no').val()
            console.log('check args-->',meeting_name,meeting_des,meeting_date,randomStr,people_no)
            //提交
            $.ajax({
              url: '/front/sgqd', 
              async: true,
              dataType: 'json',
              type: 'POST',
              data: {
                meeting_name:meeting_name,
                meeting_des:meeting_des,
                meeting_date:meeting_date,
                randomStr:randomStr,
                people_no:people_no
              },

              success: function(result){
                console.log('手工签到 success')
                console.log(result)
                if(result.errCode == 0){
                  //弹出模态框
                  $('.modal-msg').modal('show')
                  $('.modal-body').text('签到成功，点击确认返回！')
                  //$('.modal-msg').attr('randomStr',result.result.randomStr);
                  //$('.modal-msg').attr('apply_name',apply_name);
                }
                if(result.errCode == -1){
                  //弹出模态框
                  $('.modal-msg').modal('show')
                  $('.modal-body').text(result.errMsg)
                }
              },
              error: function(e){
                console.log("error");
                //console.error(e.message)
                $('.modal-msg').modal('show')
                $('.modal-body').text('签到操作失败')
              },
          });
        });//on

        //点击模态框确认按钮
        $('#result-sure').on('click',function(){
          window.location.reload()
        })
      })

    </script>
  </body>
</html>